//
// Message
// --------------------------------------------------

.message {
  background-color: $colorLightGreen;
  padding: #{$spacing * 0.5} $spacing;
  border-radius: $radii;
  margin-bottom: $spacing;

  p {
    margin: 0;
    color: $colorWhite;
    font-weight: 300;
  }

  &.error {
    background-color: $colorRed;
  }
}
