//
// pageHeader
// --------------------------------------------------

#page-heading {
  width: 100%;
  background-color: $colorWhite;
  padding: $spacing 0;

  #page-heading--inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin: 0;
    }
  }

  #page-heading-account {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;
      margin-right: $spacing;
    }

    form {
      margin: 0;
    }
  }
}
