//
// pageHeader
// --------------------------------------------------

#page-heading {
  width: 100%;
  background-color: $colorWhite;

  #page-heading-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #icon {
      font-size: 32px;
      font-weight: 600;
      text-decoration: none;
      padding: $spacing 0;
    }
  }

  #page-heading-account {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;
      margin-right: $spacing;
    }

    form {
      margin: 0;
    }
  }
}
