//
// Forms
// --------------------------------------------------

%input {
  width: 100%;
  display: block;
  margin-bottom: $spacing;
  padding: #{$spacing * 0.5} $spacing;
  border-radius: $radii;
  border: 2px solid $colorGray;
  margin: 0;
}

form {
  width: 100%;
  margin: 0;

  label {
    display: block;
    width: 100%;
    font-weight: 600;
    margin-bottom: #{$spacing * 0.25};
  }

  input,
  textarea {
    @extend %input;
  }

  textarea {
    min-height: 76px;
    resize: vertical;
  }

  button {
    width: 100%;
  }

  .form-field {
    margin-bottom: $spacing;
  }

  .form-buttons {
    display: flex;

    .button,
    button {
      flex: 1;
      margin-right: #{$spacing * 0.25};

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
