//
// Globals
// --------------------------------------------------

html {
  font-size: 16px;
  background-color: $colorLightGray;

  @media screen and (max-width: $breakpointMedium) {
    font-size: 14px;
  }
}

main {
  position: relative;
  display: block;
}
