//
// Globals
// --------------------------------------------------

html {
  font-size: 16px;

  @media screen and (max-width: $breakpoint-medium) {
    font-size: 14px;
  }
}

main {
  position: relative;
  display: block;
}
