//
// Typography
// --------------------------------------------------

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap");

* {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: $colorBlack;
}

a {
  color: inherit;
}

h1,
h2,
h3,
p {
  margin-bottom: 10px;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 36px;

  @media screen and (max-width: $breakpointMedium) {
    font-size: 32px;
  }

  @media screen and (max-width: $breakpointExtraSmall) {
    font-size: 24px;
  }
}

h2 {
  font-size: 32px;

  @media screen and (max-width: $breakpointMedium) {
    font-size: 28px;
    line-height: 36px;
  }

  @media screen and (max-width: $breakpointExtraSmall) {
    font-size: 20px;
    line-height: 26px;
  }
}

h3 {
  font-size: 24px;

  @media screen and (max-width: $breakpointMedium) {
    font-size: 22px;
  }

  @media screen and (max-width: $breakpointExtraSmall) {
    font-size: 18px;
  }
}

p {
  line-height: 24px;

  a {
    text-decoration: underline;
  }
}
