//
// Typography
// --------------------------------------------------

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  color: $colorBlack;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;

  @media screen and (max-width: $breakpoint-medium) {
    font-size: 32px;
  }

  @media screen and (max-width: $breakpoint-extra-small) {
    font-size: 24px;
  }
}

h2 {
  font-size: 32px;

  @media screen and (max-width: $breakpoint-medium) {
    font-size: 28px;
    line-height: 36px;
  }

  @media screen and (max-width: $breakpoint-extra-small) {
    font-size: 20px;
    line-height: 26px;
  }
}

h3 {
  font-size: 24px;

  @media screen and (max-width: $breakpoint-medium) {
    font-size: 22px;
  }

  @media screen and (max-width: $breakpoint-extra-small) {
    font-size: 18px;
  }
}

p {
  line-height: 24px;

  a {
    text-decoration: underline;
  }
}
