//
// Utility
// --------------------------------------------------

.container {
  position: relative;
  padding: 0 #{$spacing * 4};
  width: 100%;
  max-width: $containerWidth;
  margin: 0 auto;

  @media screen and (max-width: $breakpointMedium) {
    padding: 0 10px;
  }

  &.smaller {
    max-width: $containerWidthSmaller;
  }

  &.small {
    max-width: $containerWidthSmall;
  }
}
