//
// Utility
// --------------------------------------------------

.container {
  position: relative;
  padding: 0 #{$spacing * 1.5};
  width: 100%;
  max-width: $containerWidth;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $breakpointMedium) {
    padding: 0 10px;
  }

  &.smaller {
    max-width: $containerWidthSmaller;
  }

  &.small {
    max-width: $containerWidthSmall;
  }
}

%flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row {
  @extend %flex;
  flex-direction: row;
}

.flex-row-reverse {
  @extend %flex;
  flex-direction: row-reverse;
}

.flex-column {
  @extend %flex;
  flex-direction: column;
}

.flex-column-reverse {
  @extend %flex;
  flex-direction: column-reverse;
}

.spacing-bottom {
  margin-bottom: #{$spacing * 3};
}

.spacing-top {
  margin-top: #{$spacing * 3};
}
