//
// Utility
// --------------------------------------------------

.container {
  position: relative;
  padding: 0 #{$spacing * 4};
  width: 100%;
  max-width: $containerWidth;
  margin: 0 auto;

  @media screen and (max-width: $breakpointMedium) {
    padding: 0 $spacing;
  }

  &.smaller {
    max-width: $containerWidthSmaller;
  }

  &.small {
    max-width: $containerWidthSmall;
  }
}

.box-container {
  @extend .container;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.box {
  padding: #{$spacing * 3};
  background-color: $colorWhite;
  width: 100%;
  max-width: $breakpointExtraSmall;
  border-radius: $radii;
  margin-top: #{$spacing * 4};

  @media screen and (max-width: $breakpointMedium) {
    padding: $spacing;
  }
}
