//
// Variables
// --------------------------------------------------

// colors
$colorGreen: #2a4742;
$colorLightGreen: #c9d5d3;
$colorRed: #ef5350;
$colorBlack: #000;
$colorWhite: #fff;

// Breakpoints
$breakpoint-extra-small: 450px;
$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;
$breakpoint-extra-large: 1440px;

// Containers
$container-width: 1440px;
$container-width-smaller: 1200px;
$container-width-small: 1024px;

// Spacing
$spacing: 16px;
