//
// Variables
// --------------------------------------------------

// colors
$colorGreen: #2a4742;
$colorLightGreen: #66c065;
$colorRed: #f05745;
$colorBlack: #000;
$colorWhite: #fff;

$colorLightGray: #f4f6f8;
$colorGray: #cecece;
$colorBlue: #4f4fed;

// Breakpoints
$breakpointExtraSmall: 450px;
$breakpointSmall: 768px;
$breakpointMedium: 992px;
$breakpointLarge: 1200px;
$breakpointExtraLarge: 1440px;

// Containers
$containerWidth: 1440px;
$containerWidthSmaller: 1200px;
$containerWidthSmall: 1024px;

// Spacing
$spacing: 16px;

// Radius
$radii: 4px;

// Transition
$transitionSpeed: 200ms;
